.crypto-list {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.crypto-card {
  border: 1px solid rgba(128, 128, 128, 0.25);
  border-radius: 5px;
  margin: 10%;
  box-shadow: 0 15px 30px rgb(0 0 0 / 20%);
}
